.content-main{
    display: flex;
    gap: 20px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.campo-pesquisa{
    padding: 15px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.estilo-barra{
    display: flex;
    justify-content: center;
}
.botao-pesquisa {
    width: 300px;
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    font-size: 15px;
}
.botao_pesquisa:focus {
    outline: 1px solid rgb(138, 157, 255);  
   }
.botao_pesquisa.visited {
    outline: 1px solid rgb(138, 157, 255);   
}


.filme-content{
    min-width: 300px;
    min-height: 200px;
    background-color: antiquewhite;
}

.filme-content>img{
    width: 300px;
    height: auto;
}
.bg{
    height: 1000px;
}
.textobg{
    height: 1000px;
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}
p {
    font-size: 22px;
    margin: auto;
   
}
.projetos{

display: flex;
margin-bottom: 50%;
}