.content-main{
    display: flex;
    gap: 20px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.campo-pesquisa{
    padding: 15px 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.p{
    font-size: 40px;
}
.estilo-barra{
    display: flex;
    justify-content: center;
}


.botao-pesquisa {
    margin-top:20px;
    width: 500px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 17px;

}
.botao-pesquisa:focus {
    outline: 2px solid rgb(173, 228, 173);  
   }


.botao-pesquisa.visited {
    outline: 1px solid rgb(173, 228, 173);   
}


.filme-content{
    min-width: 300px;
    min-height: 200px;
    background-color: antiquewhite;
}

.filme-content>img{
    width: 300px;
    height: auto;
}
.bg{
    height: 1000px;
}
.textobg{
    height: 1000px;
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}
.busca {
    font-size: 22px;
    margin: auto;
}
.projetos{

display: flex;
margin-bottom: 50%;
}

.content-main2{
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}

/* .h1{

    font-size: 100px;
} */
